Phonepe Insurance DataSet

In [8]:
import pandas as pd
import os
import json

In [9]:
path = "./pulse/data/aggregated/insurance/country/india/state"
Aggr_list_path = os.listdir(path)

In [11]:
clm = {'State':[], 'Year':[],'Quater':[],'Transaction_name':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}
for i in Aggr_list_path:
    path_i = path + '/' + i
    Aggr_path_i = os.listdir(path_i)
    for j in Aggr_path_i:
        path_j = path_i + '/' + j
        Aggr_path_j = os.listdir(path_j)
        for k in Aggr_path_j :
            path_k = path_j + '/' + k
            Data = open(path_k,'r')
            D = json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              Type = z['paymentInstruments'][0]['type']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_name'].append(Name)
              clm['Transacion_type'].append(Type)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))

In [ ]:
Agg_Insurance = pd.DataFrame(clm)
Agg_Insurance

,State,Year,Quater,Transaction_name,Transacion_type,Transacion_count,Transacion_amount
0,andaman-&-nicobar-islands,2020,2,Insurance,TOTAL,6,1360.0
1,andaman-&-nicobar-islands,2020,3,Insurance,TOTAL,41,15380.0
2,andaman-&-nicobar-islands,2020,4,Insurance,TOTAL,124,157975.0
3,andaman-&-nicobar-islands,2021,1,Insurance,TOTAL,225,244266.0
4,andaman-&-nicobar-islands,2021,2,Insurance,TOTAL,137,181504.0
...,...,...,...,...,...,...,...
677,west-bengal,2023,4,Insurance,TOTAL,72712,100365562.0
678,west-bengal,2024,1,Insurance,TOTAL,79576,104987909.0
679,west-bengal,2024,2,Insurance,TOTAL,67048,89476633.0
680,west-bengal,2024,3,Insurance,TOTAL,77158,107451766.0
681,west-bengal,2024,4,Insurance,TOTAL,91719,120602777.0

Connect to MySQL

In [25]:
!pip install --upgrade mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\aravi\anaconda3\lib\site-packages (9.3.0)

In [26]:
import mysql.connector

In [29]:
import pymysql

conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="root123",
)
cursor_pymysql = conn_pymysql.cursor()
print("PyMySQL connection established!")

PyMySQL connection established!

In [30]:
cursor_pymysql.execute("""CREATE DATABASE PHONEPE_INSURANCE;""")
print("Database created successfully!")

Database created successfully!

In [32]:
cursor_pymysql.execute("""USE PHONEPE_INSURANCE;""")
cursor_pymysql.execute("""CREATE TABLE Insurance(State varchar(256),Year int,Quater int,Transaction_name varchar(256),Transaction_type varchar(256),Transaction_count bigint unsigned,Transaction_amount bigint);""")
print('Table created!')

Table created!

In [34]:
data_list = Agg_Insurance.values.tolist()
query = """
    INSERT INTO Insurance (State,Year,Quater,Transaction_name,Transaction_type,Transaction_count,Transaction_amount)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
"""
cursor_pymysql.executemany(query, data_list)
conn_pymysql.commit()
print("Data inserted using to_list()")

Data inserted using to_list()