AGGREGATED Users data

In [1]:
import pandas as pd
import json
import os

In [4]:
path = "../pulse/data/aggregated/user/country/india/state"
Aggr_list_path = os.listdir(path)
Aggr_list_path

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [ ]:
clm = {'State':[], 'Year':[],'Quater':[],'Registered_Users':[],'App_opens':[], 'Brand':[], 'Count':[], 'Percentage':[]}

for i in Aggr_list_path:
    path_i = path + '/' + i
    Aggr_path_i = os.listdir(path_i)
    for j in Aggr_path_i:
        path_j = path_i + '/' + j
        Aggr_path_j = os.listdir(path_j)
        for k in Aggr_path_j :
            path_k = path_j + '/' + k
            Data = open(path_k,'r')
            D = json.load(Data)
            registered_users = D['data']['aggregated']['registeredUsers']
            app_opens = D['data']['aggregated']['appOpens']
            users_by_device = D['data'].get('usersByDevice')
            if users_by_device:
                for z in users_by_device:
                    Brand = z['brand']
                    Count = z['count']
                    Percentage = z['percentage']
                    clm['Brand'].append(Brand)
                    clm['Count'].append(Count)
                    clm['Percentage'].append(Percentage)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))
                    clm['Registered_Users'].append(registered_users)
                    clm['App_opens'].append(app_opens)

In [9]:
Aggr_Users = pd.DataFrame(clm)
Aggr_Users

,State,Year,Quater,Registered_Users,App_opens,Brand,Count,Percentage
0,andaman-&-nicobar-islands,2018,1,6740,0,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,6740,0,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,6740,0,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,6740,0,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,6740,0,OnePlus,332,0.049258
...,...,...,...,...,...,...,...,...
6727,west-bengal,2022,1,21919787,236131065,Lenovo,330017,0.015056
6728,west-bengal,2022,1,21919787,236131065,Infinix,284678,0.012987
6729,west-bengal,2022,1,21919787,236131065,Asus,280347,0.012790
6730,west-bengal,2022,1,21919787,236131065,Apple,277752,0.012671
6731,west-bengal,2022,1,21919787,236131065,Others,2196334,0.100199

Connect to MYSQL

In [10]:
import mysql.connector

In [11]:
import pymysql

conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="root123",
)
cursor_pymysql = conn_pymysql.cursor()
print("PyMySQL connection established!")

PyMySQL connection established!

In [14]:
cursor_pymysql.execute("""USE PHONEPE_INSURANCE;""")
cursor_pymysql.execute("""CREATE TABLE Users(State varchar(256),Year int,Quater int,Registered_users bigint,App_opens bigint,Brand varchar(256),Count bigint,Percentage float);""")
print('Table created!')

Table created!

In [16]:
data_list = Aggr_Users.values.tolist()
query = """
    INSERT INTO Users(State,Year,Quater,Registered_users,App_opens,Brand,Count,Percentage)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s);
"""
cursor_pymysql.executemany(query, data_list)
conn_pymysql.commit()
print("Data inserted using to_list()")

Data inserted using to_list()