In [1]:
import pandas as pd
import json
import os
#import mysql.connector

#This is to direct the path to get the data as states

path = '../pulse/data/top/user/country/india/state'
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [ ]:
district_clm={'State':[] ,'Year':[],'Quater':[],'District_name':[],'District_Registered_Users':[]}

pincode_clm = {'State':[] ,'Year':[],'Quater':[],'Pincode':[],'Pincode_Registered_Users':[]}

for i in Agg_state_list:
    #p_i=os.path+i+"/"
    p_i=os.path.join(path, i)
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        #p_j=p_i+j+"/"
        p_j=os.path.join(p_i, j)
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            # p_k=p_j+k
            # Data=open(p_k,'r')
            p_k = os.path.join(p_j, k)
            # D=json.load(Data)
            with open(p_k, 'r') as Data:
                D = json.load(Data)
            for x,y in D['data'].items():
                if x == 'districts' and y :
                    for m in y:
                        district_clm['State'].append(i)
                        district_clm['Year'].append(j)
                        district_clm['Quater'].append(int(k.strip('.json')))
                        district_clm['District_name'].append(m['name'])
                        district_clm['District_Registered_Users'].append(m['registeredUsers'])
                elif x =='pincodes' and y:
                    for l in y:
                        pincode_clm['State'].append(i)
                        pincode_clm['Year'].append(j)
                        pincode_clm['Quater'].append(int(k.strip('.json')))
                        pincode_clm['Pincode'].append(l['name'])
                        pincode_clm['Pincode_Registered_Users'].append(l['registeredUsers'])
#Succesfully created a dataframe
top_users_district=pd.DataFrame(district_clm)
top_users_pincode =pd.DataFrame(pincode_clm)

In [3]:
import pymysql
conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="root123",
)
cursor_pymysql = conn_pymysql.cursor()
print("PyMySQL connection established!")

PyMySQL connection established!

In [4]:
cursor_pymysql.execute("""USE PHONEPE_INSURANCE;""")
cursor_pymysql.execute("""CREATE TABLE Top_Users_district(State varchar(256),Year int,Quater int,District_name varchar(256), District_Registered_Users bigint);""")
print('Table created!')

Table created!

In [6]:
data_list = top_users_district.values.tolist()
query = """
    INSERT INTO top_users_district(State,Year,Quater,District_name, District_Registered_Users)
    VALUES (%s, %s, %s, %s, %s);
"""
cursor_pymysql.executemany(query, data_list)
conn_pymysql.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

Top Users pincode

In [7]:
cursor_pymysql.execute("""USE PHONEPE_INSURANCE;""")
cursor_pymysql.execute("""CREATE TABLE Top_Users_pincode(State varchar(256),Year int,Quater int,Pincode varchar(256), Pincode_Registered_Users bigint);""")
print('Table created!')

Table created!

In [8]:
data_list = top_users_pincode.values.tolist()
query = """
    INSERT INTO top_users_pincode(State,Year,Quater,Pincode, Pincode_Registered_Users)
    VALUES (%s, %s, %s, %s, %s);
"""
cursor_pymysql.executemany(query, data_list)
conn_pymysql.commit()
print("Data inserted using to_list()")

Data inserted using to_list()