In [ ]:
import pandas as pd
import json
import os
#import mysql.connector

#This is to direct the path to get the data as states

path = '../pulse/data/top/transaction/country/india/state'
Agg_state_list=os.listdir(path)
Agg_state_list

In [ ]:
#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

district_clm={'State':[] ,'Year':[],'Quater':[],'District_name':[],'District_Transaction_type':[],'District_Transaction_count':[],'District_Transaction_amount':[]}

pincode_clm = {'State':[] ,'Year':[],'Quater':[],'Pincode':[],'Pincode_Transaction_type':[],'Pincode_Transaction_count':[],'Pincode_Transaction_amount':[]}

for i in Agg_state_list:
    #p_i=os.path+i+"/"
    p_i=os.path.join(path, i)
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        #p_j=p_i+j+"/"
        p_j=os.path.join(p_i, j)
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            # p_k=p_j+k
            # Data=open(p_k,'r')
            p_k = os.path.join(p_j, k)
            # D=json.load(Data)
            with open(p_k, 'r') as Data:
                D = json.load(Data)
            for x,y in D['data'].items():
                if x == 'districts' and y :
                    for m in y:
                        district_clm['State'].append(i)
                        district_clm['Year'].append(j)
                        district_clm['Quater'].append(int(k.strip('.json')))
                        district_clm['District_name'].append(m['entityName'])
                        district_clm['District_Transaction_type'].append(m['metric']['type'])
                        district_clm['District_Transaction_count'].append(m['metric']['count'])
                        district_clm['District_Transaction_amount'].append(m['metric']['amount'])
                elif x =='pincodes' and y:
                    for l in y:
                        pincode_clm['State'].append(i)
                        pincode_clm['Year'].append(j)
                        pincode_clm['Quater'].append(int(k.strip('.json')))
                        pincode_clm['Pincode'].append(l['entityName'])
                        pincode_clm['Pincode_Transaction_type'].append(l['metric']['type'])
                        pincode_clm['Pincode_Transaction_count'].append(l['metric']['count'])
                        pincode_clm['Pincode_Transaction_amount'].append(l['metric']['amount'])
#Succesfully created a dataframe
top_transaction_district=pd.DataFrame(district_clm)
top_transaction_pincode =pd.DataFrame(pincode_clm)

In [ ]:
top_transaction_pincode

In [ ]:
top_transaction_district

In [ ]:
import pymysql
conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="root123",
)
cursor_pymysql = conn_pymysql.cursor()
print("PyMySQL connection established!")

Top Transactions District Table

In [ ]:
cursor_pymysql.execute("""USE PHONEPE_INSURANCE;""")
cursor_pymysql.execute("""CREATE TABLE Top_transactions_district(State varchar(256),Year int,Quater int,District_name varchar(256), District_Transaction_type varchar(256), District_Transaction_count bigint, District_Transaction_amount bigint);""")
print('Table created!')

In [ ]:
data_list = top_transaction_district.values.tolist()
query = """
    INSERT INTO top_transactions_district(State,Year,Quater,District_name, District_Transaction_type, District_Transaction_count, District_Transaction_amount)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
"""
cursor_pymysql.executemany(query, data_list)
conn_pymysql.commit()
print("Data inserted using to_list()")

Top Transaction Pincode

In [ ]:
cursor_pymysql.execute("""USE PHONEPE_INSURANCE;""")
cursor_pymysql.execute("""CREATE TABLE Top_transactions_pincode(State varchar(256),Year int,Quater int,Pincode varchar(256), Pincode_Transaction_type varchar(256), Pincode_Transaction_count bigint, Pincode_Transaction_amount bigint);""")
print('Table created!')

In [ ]:
data_list = top_transaction_pincode.values.tolist()
query = """
    INSERT INTO top_transactions_pincode(State,Year,Quater,Pincode, Pincode_Transaction_type, Pincode_Transaction_count, Pincode_Transaction_amount)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
"""
cursor_pymysql.executemany(query, data_list)
conn_pymysql.commit()
print("Data inserted using to_list()")