In [1]:
import pandas as pd
import json
import os
#import mysql.connector



path='../pulse/data/map/insurance/hover/country/india/state'
map_insurance=os.listdir(path)
map_insurance


clm={'State':[],'state_or_district_name':[], 'Year':[],'Quater':[],'Transacion_type':[], 'count':[], 'Transacion_amount':[]}

for i in map_insurance:
    p_i=os.path.join(path, i)
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        
        p_j=os.path.join(p_i, j)
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
           
            
            p_k = os.path.join(p_j, k)
            
            with open(p_k, 'r') as Data:
                D = json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              type_=z['metric'][0]['type']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['state_or_district_name'].append(Name)
              clm['Transacion_type'].append(type_)
              clm['count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
map_insu=pd.DataFrame(clm)
print(map_insu)

                           State             state_or_district_name  Year  \
0      andaman-&-nicobar-islands             south andaman district  2020
1      andaman-&-nicobar-islands                  nicobars district  2020
2      andaman-&-nicobar-islands  north and middle andaman district  2020
3      andaman-&-nicobar-islands             south andaman district  2020
4      andaman-&-nicobar-islands                  nicobars district  2020
...                          ...                                ...   ...
13871                west-bengal                alipurduar district  2024
13872                west-bengal         paschim bardhaman district  2024
13873                west-bengal                     nadia district  2024
13874                west-bengal                   birbhum district  2024
13875                west-bengal           purba medinipur district  2024

       Quater Transacion_type  count  Transacion_amount
0           2           TOTAL      3              795.0
1           2           TOTAL      3              565.0
2           3           TOTAL      1              281.0
3           3           TOTAL     35            13651.0
4           3           TOTAL      5             1448.0
...       ...             ...    ...                ...
13871       4           TOTAL   1023          1613143.0
13872       4           TOTAL   4945          7005851.0
13873       4           TOTAL   3807          5031294.0
13874       4           TOTAL   1818          2423290.0
13875       4           TOTAL   3559          4439061.0

[13876 rows x 7 columns]

In [3]:
import pymysql
conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="root123",
)
cursor_mysql = conn_pymysql.cursor()
print("PyMySQL connection established!")


cursor_mysql.execute("USE PHONEPE_INSURANCE;")  # Select database
cursor_mysql.execute("""
    CREATE TABLE IF NOT EXISTS map_insurance_data (
        state VARCHAR(255),
        state_or_district_name VARCHAR(255),
        year int,
        quater int,
        Transacion_type VARCHAR(255),
        count BIGINT UNSIGNED,
        Transacion_amount BIGINT UNSIGNED
    );
""")
conn_pymysql.commit()
print("Table 'map_insurance_data' created successfully in MySQL!")

PyMySQL connection established!
Table 'map_insurance_data' created successfully in MySQL!

In [5]:
data_list = map_insu.values.tolist()
query = """
    INSERT INTO map_insurance_data(state,state_or_district_name, year, quater, Transacion_type, count, Transacion_amount)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
"""
cursor_mysql.executemany(query, data_list)
conn_pymysql.commit()
print("Data inserted using to_list()")

Data inserted using to_list()